section.article-indications
    .container
        .article-indications__row
            .article-indications__column
                p.article-indications__descr Для больных среднетяжелым атопическим дерматитом проводится противовоспалительная наружная терапия с использованием следующих препаратов:
                ul.article-treatment__text-list
                    li.article-treatment__text-item – топических наружных гормональных препаратов.
                    li.article-treatment__text-item – нестероидных препаратов (топических ингибиторов кальциневрина).
                p.article-indications__descr Для больных среднетяжелым и тяжелым атопическим дерматитом назначают препараты посильнее: как правило, это наружные гормональные препараты с умеренной или высокой активностью.
                p.article-indications__descr Важно помнить, что нельзя откладывать начало лечения топическими наружными гормональными препаратами, поскольку воспаление в коже при атопическом дерматите есть всегда, даже если кожа внешне здорова. Если откладывать лечение часто развиваются осложнения, что ведет к увеличению количества лекарств, которые нужны ребёнку.

            .article-indications__column
                p.article-indications__descr Современные наружные гормональные препараты обладают благоприятным профилем безопасности (редко вызывают нежелательные явления на коже и в организме в целом). Они также могут быстро устранить зуд, воспаление и убрать неприятные высыпания с кожи.   Препаратом последнего поколения является Адвантан®. Благоприятный профиль безопасности препарата можно объяснить тем, что это пролекарство – Адвантан® оказывает все свои эффекты только при наличии воспаления, а значит, если воспаления нет, риски побочных эффектов минимальны. Именно поэтому препарат разрешен детям уже с 4-х месяцев. В мире препарат применяется уже более 25 лет. Хорошая переносимость препарата не значит, что он не эффективный. Адвантан® помогает устранять неприятные симптомы заболевания – зуд, жжение, покраснение и т.д. при нанесении его на пораженную кожу всего 1 раз в день .

        .article-indications__bottom
            .article-indications__column
                .remember-wrapper
                    p.article-indications__remember Важно помнить, что при появлении одного из вышеперечисленных симптомов атопического дерматита стоит обязательно обратиться к специалисту. Именно лечащий врач способен правильно выявить причины заболевания и назначить необходимое лечение.

            .article-indications__column
                p.article-indications__author  Автор статьи: Мансилья А.
                p.article-indications__contacts  MAT-29882-10-19
                p.article-indications__contacts  РУ П N013563/03, П N013563/02, П N013563/04, П N013563/01



