section.article-treatment.article-type-4
    .container
        .article-treatment__title-wrap
            img(src="img/numb-4.png" alt="Icon")
            h2.article-treatment__title Атопический дерматит

        .article-treatment__row
            .article-treatment__column.article-treatment__column-left
                p.article-treatment__descr Это хроническое воспалительное заболевание кожи, которое сопровождается зудом, с повторяющимся циклом обострений и периодов «чистой» кожи и  вероятным инфицированием. На его возникновение может оказывать влияние сразу несколько факторов: генетика, нарушение барьерной функции кожи, аллергены, неблагоприятный климат, сухость воздуха, химические раздражающие вещества (средства для стирки, мыла, химические вещества для уборки помещений, лосьоны с отдушкой), физические раздражающие факторы (потоотделение, расчесывание, синтетическая одежда), психосоциальные стрессы, хронические заболевания и даже нарушение сна.
                p.article-treatment__descr.list-group Главные симптомы атопического дерматита:
                ul.article-treatment__list
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text сильный зуд, который может беспокоить даже ночью
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text покраснения на коже (преимущественно в тех местах, где кожа тонкая. Например, на щеках, сгибах рук и ног, на шее, в складках);
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text сыпь, а также сухость и шелушение кожи (т.н «диатез»)




            .article-treatment__column.article-treatment__column-right
