section.article-fact
    .container
        h2.article-fact__title Факты
        .article-fact__row
            .article-fact__column
                .article-fact__persantage 81 <span>%</span>
                p.article-fact__descr детей, у кого оба родителя страдают атопическим дерматитом,  развивается эта болезнь
            .article-fact__column
                .article-fact__persantage 56 <span>%</span>
                p.article-fact__descr детей, у кого болен один из родителей,  также развивается атопический дерматит