section.article-type-two
    .container
        .article-treatment__title-wrap
            img(src="img/numb-2.png" alt="Icon")
            h2.article-treatment__title Аллергический дерматит

        p.type-two-descr.
            Причиной такого типа дерматита выступает аллергия. Он может быть контактным, когда аллерген непосредственно соприкасается с кожей (например, ткань или металл), и бесконтактным, когда соприкосновения нет (например, пыльца). Как правило, в основе лечения аллергического дерматита лежит исключение контакта организма с аллергеном, вызвавшим заболевание. В случае тяжелого течения аллергии лучше обратиться к специалисту, который назначит должное лечение.