section.article-note.article-note-bl
    .container
        .article-note__column
            p.article-note__descr Атопический дерматит не стоит путать с обычной аллергией: это хроническое заболевание, при появлении первых признаков которого нужно обратиться к врачу. Необходимо точно установить причины развития дерматита и исходя из этого назначать лечение.
            p.article-note__descr Для того, чтобы устранить воспаление на коже, вызванные любым дерматитом, используют наружные гормональные препараты, кремы и эмульсии. Одним из наиболее безопасных препаратов данного класса является Адвантан®. Высокий профиль безопасности препарата связан с тем, что это пролекарство и работает только тогда, когда есть воспаление. Это значит, что риск местных и системных реакций минимален. Адвантан® подавляет аллергические кожные реакции, облегчает зуд, уменьшает покраснение, мокнутие и отёк.
        .article-note__column
            p.article-note__descr Важным отличием Адвантана от подобных препаратов является его длительный опыт применения во всем мире, как у взрослых, так и у детей с 4-х месяцев.
            p.article-note__descr Заботиться о коже малыша хоть и не так просто, но очень важно. Чтобы сохранить ее здоровой, необходимо соблюдать правила гигиены и вовремя обращаться к врачу, если появились какие-то признаки воспаления. Самостоятельное лечение может не принести таких результатов, как то, что пропишет врач. Ведь проблема может быть гораздо глубже, чем кажется, и только специалист сможет распознать ее.

            .authors
                span.author Автор статьи: Мансилья А.
                span.num РУ П N013563/03, &ensp; &ensp;  &ensp; &ensp;   <span>П N013563/02, П N013563/04, П N013563/01</span>