section.article-note
    .container
        .article-note__column
            p.article-note__descr Считается, что основным фактором формирования такого вида дерматита является наследственная предрасположенность. На эту тему проводились исследования, в результате которых было доказано, что атопический дерматит развивается у 81% детей, у кого оба родителя страдают этой болезнью, и у 56% - если болен один из родителей . Факторов, влияющих на развитие заболевания, довольно много.
            p.article-note__descr Среди них: осложненное течение беременности,
        .article-note__column
            p.article-note__descr курение во время вынашивания ребенка, нарушения в питании, резкая перемена климата, аллергия, стресс, нарушения экологии и среды обитания .
            p.article-note__descr Атопический дерматит крайне важно вовремя распознать и начать с ним бороться: несвоевременное лечение может привести к переходу начальной стадии болезни в стадию выраженных патологических изменений на коже .