section.article-fact.article-type
    .container
        h2.article-fact__title Типы дерматита
        .article-fact__row
            ul.article-types__list
                li.article-types__item.article-types__item-1
                    img(src="img/numb-1.png" alt="Alt")
                    span.article-types__text Пеленочный

                li.article-types__item.article-types__item-2
                    img(src="img/numb-2.png" alt="Alt")
                    span.article-types__text Аллергический

                li.article-types__item.article-types__item-3
                    img(src="img/numb-3.png" alt="Alt")
                    span.article-types__text Себорейный

                li.article-types__item.article-types__item-4
                    img(src="img/numb-4.png" alt="Alt")
                    span.article-types__text Атопический