section.article-note.article-type-one
    .container.container-top
        .article-treatment__title-wrap
            img(src="img/numb-1.png" alt="Icon")
            h2.article-treatment__title Пеленочный дерматит
    .container.container-border
        .article-note__column
            p.article-note__descr От 30% до 70% детей первого года жизни сталкиваются с пеленочным дерматитом. Он возникает из-за длительного контакта кожи с подгузником и поражает поверхность ягодиц, бедра, нижнюю часть живота и паховую область. Как правило, происходит это из-за того, что нарушаются правила гигиены: редко меняются подгузники, используются некачественными гигиенические средства, не уделяется должное внимание подмыванию ребенка.
            p.article-note__descr Если подгузник, каким бы хорошим он ни был, долго не менять, то собравшиеся в нем массы начнут разрушительно влиять на кожу ребенка.
        .article-note__column
            p.article-note__descr Мочевая кислота, аммиак (он образуется при контакте кала с мочой), ферменты, которые присутствуют в кале, приводят к тому, что кожа краснеет и покрывается сыпью.
            p.article-note__descr Меры профилактики пеленочного дерматита просты: <br> - выбирать качественные подгузники и средства по уходу за кожей ребенка
            p.article-note__descr - строго соблюдать правила гигиены: чаще менять подгузник, а лучше - максимальное количество времени оставлять ребенка без него, чтобы кожа контактировала с воздухом
