section.article-treatment.article-type-3
    .container
        .article-treatment__title-wrap
            img(src="img/numb-3.png" alt="Icon")
            h2.article-treatment__title Себорейный дерматит

        .article-treatment__row
            .article-treatment__column.article-treatment__column-left
                p.article-treatment__descr Усиленная выработка кожного сала и изменение его качественного состава может повлечь за собой себорейный дерматит. Он характеризуется поражением тех зон, которые наиболее обогащены сальными железами: волосистая часть головы, заушные складки, лицо, грудь, крупные кожные складки.
                p.article-treatment__descr Точной и однозначной причины развития себорейного дерматита до сих пор не установлено. Однако факторы, которые играют роль в его появлении, все-таки есть:




            .article-treatment__column.article-treatment__column-right
                ul.article-treatment__list
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text нарушение гормонального фона

                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text заболевание желудочно-кишечного тракта
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text нарушения иммунитета
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text длительный прием сильнодействующих лекарственных препаратов
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text стресс
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text несоблюдение личной гигиены
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text злоупотребление косметическими процедурами с агрессивным воздействием


        .article-type-box
            p.
                Лечение себорейного дерматита индивидуально – все зависит от причин его появления. Именно поэтому крайне важна консультация специалиста, который сможет назначить правильные препараты по борьбе с этим заболеванием.