section.article-also
    .container
        .article-also__post
            h3.article-also__cat--mob Читайте также
            .article-also__img
                img(src="img/baby-2.jpg" alt="Photo")

            .article-also__post-text
                .article-also__cat Читайте также
                h3.article-also__title Как правильно выбирать средство для лечения атопического дерматита

                a(href="#").article-also__link Читать статью