section.article-block
    .article-block__left-col
        img(src="img/bg-3.jpg" alt="Baby").article-block__photo
    .article-block__right-col
        .wrapper-box
            a(href="#").article-block__link < Назад

            h1.article-block__title Зуд и дерматиты у детей

            p.article-block__descr Нежная кожа малыша требует особой заботы. В силу того, что защита кожи у детей первых лет жизни еще не полностью сформирована, ребенок чувствителен к раздражителям. Причем чем он младше, тем кожа более уязвима. Именно из-за этого у детей часто наблюдаются такие реакции кожи, как зуд, покраснение, шелушение, сухость. Все это симптомы разных видов дерматита, в которых мы и постараемся разобраться.