section.article-block
        .article-block__left-col
            img(src="img/baby.jpg" alt="Baby").article-block__photo
        .article-block__right-col
            .wrapper-box
                a(href="#").article-block__link < Назад

                h1.article-block__title Как правильно выбирать средство для лечения атопического дерматита

                p.article-block__descr Атопический дерматит – распространенное хроническое заболевание, характеризующееся аллергическим воспалением кожи. Главные его симптомы – зуд, покраснение и высыпания на коже.