section.article-literature
    .container
        .article-literature__row
            .article-literature__column
                ul.article-literature__list
                    li.article-literature__item
                        p 1 – Зайцева С.В., Застрожина А.К., Муртазаева О.А. Особенности кожного барьера у ребенка раннего возраста. Профилактика дерматита. Медицинский Совет. 2015;(6):18-23.
                    li.article-literature__item
                        p 2 – Доктор Комаровский [Электронный ресурс].- Пеленочный дерматит – Режим доступа: http://www.komarovskiy.net/knigi/pelenochnyj-dermatit.html
                    li.article-literature__item
                        p 3 – Степанова Е.В. Аллергический контактный дерматит: основные подходы к диагностике, лечению и профилактике. Лечащий врач. 2009;10:15-19.

            .article-literature__column
                ul.article-literature__list
                    li.article-literature__item
                        p 4 – Л. А. Юсупова, Е. И. Юнусова, З. Ш. Гараева, Г. И. Мавлютова, В. С. Панченко. Себорейный дерматит: патогенетические аспекты, клинические формы и терапия больных. Лечащий врач. 2019;08:48-51.
                    li.article-literature__item
                        p 5 – Илек Я.Ю., Зайцева Г.А., Галанина А.В., Муратова Н.Г. HLA-ассоциации при тяжелом течении атопического дерматита и атопической бронхиальной астмы у детей // Фундам. исследования. 2009. № 5. С. 19–21.
                    li.article-literature__item
                        p 6 – Инструкция по медицинскому применению препарата Адвантан®.
