section.article-treatment
    .container
        .article-treatment__title-wrap
            img(src="img/q.png" alt="Icon")
            h2.article-treatment__title Как лечить атопический дерматит

        .article-treatment__row
            .article-treatment__column.article-treatment__column-left
                p.article-treatment__descr Лечение необходимо начать с посещения врача: самостоятельно правильно установить степень тяжести заболевания и выявить его причины невозможно. Основными способами лечения атопического дерматита являются :

                ul.article-treatment__list
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text противовоспалительная терапия высыпаний на коже;
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text исключение аллергенов (в первую очередь пищевых) с назначением диетотерапии и контролем неблагоприятных факторов внешней среды;
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text применение антигистаминных препаратов;
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text лечение сопутствующих заболеваний (например, патологии органов ЖКТ, нормализация метаболизма, состояния нервной системы);
                    li.article-treatment__item
                        img(src="img/plus.png" alt="Icon")
                        span.article-treatment__item-text восстановление и поддержание барьера кожи.е;



            .article-treatment__column.article-treatment__column-right
                p.article-treatment__descr Лечение атопического дерматита назначается в зависимости от степени тяжести заболевания . Так, для больных легкой формой атопического дерматита рекомендуется исключение провоцирующих заболевание веществ и продуктов и использование препаратов для увлажнения кожи. Такие препараты называются эмолентами, они способны создавать защитный липидный слой на поверхности кожи.
                p.article-treatment__descr Для больных среднетяжелым атопическим дерматитом проводится противовоспалительная наружная терапия с использованием следующих препаратов

                ul.article-treatment__text-list
                    li.article-treatment__text-item – топических наружных гормональных препаратов.
                    li.article-treatment__text-item – нестероидных препаратов (топических ингибиторов кальциневрина).