section.article-literature
    .container
        .article-literature__row
            .article-literature__column
                ul.article-literature__list
                    li.article-literature__item
                        p 1 – А.А. Козловский, Г.Д. Строева Атопический дерматит у детей // Проблемы здоровья и экологии. 2006. №2 (8).URL: https://cyberleninka.ru/article/n/atopicheskiy-dermatit-u-detey.
                    li.article-literature__item
                        p 2 – Смирнова Г.И. Атопический дерматит у детей: управление течением болезни. Лечащий врач. 2014; 06.
                    li.article-literature__item
                        p 3 – А.А. Козловский, Г.Д. Строева Атопический дерматит у детей // Проблемы здоровья и экологии. 2006. №2 (8).URL: https://cyberleninka.ru/article/n/atopicheskiy-dermatit-u-detey.

            .article-literature__column
                ul.article-literature__list
                    li.article-literature__item
                        p 4 – Смирнова Г.И. Атопический дерматит у детей: управление течением болезни. Лечащий врач. 2014; 06.
                    li.article-literature__item
                        p 5 – Абелевич М.М. Атопический дерматит. Первая ступень в комплексном лечении и прогнозировании атопии. РМЖ. Мать и дитя №14 от 01.07.2014. С. 1048
                    li.article-literature__item
                        p 6 – Инструкция по медицинскому применению препарата Адвантан®.
