footer#footer.b-footer
    .container
        ul.b-footer__nav
            li.b-footer__item
                a(href="http://komarovskiy.net/pages,sprosit-doktora").b-footer__link Консультации
            li.b-footer__item
                a(href="http://komarovskiy.net/pages,advertisements").b-footer__link Рекламодателям
            li.b-footer__item
                a(href="http://books.komarovskiy.net/mail").b-footer__link Книга-почтой
            li.b-footer__item
                a(href="http://komarovskiy.net/contact").b-footer__link Контакты
            li.b-footer__item
                a(href="http://komarovskiy.net/account/signin").b-footer__link Войти

        .b-footer__text
            .b-footer__text-left
                p.b-footer__copyright Евгений Олегович Комаровский 1993-2019
                a(href="mail: webmaster@komarovskiy.net").b-footer__mail webmaster@komarovskiy.net

            .b-footer__socials-wrap
                p.b-footer__socials-text Мы в социальных сетях:
                ul.b-footer__socials
                    li.b-footer__socials-item
                        a(href="http://klubkom.net/").b-footer__socials-link.b-footer__k
                    li.b-footer__socials-item
                        a(href="http://vk.com/eokomarovskiy").b-footer__socials-link.b-footer__vk
                    li.b-footer__socials-item
                        a(href="http://www.facebook.com/komarovskiynet").b-footer__socials-link.b-footer__fs
                    li.b-footer__socials-item
                        a(href="http://www.youtube.com/user/doctorkomarovskiy/").b-footer__socials-link.b-footer__yt
                    li.b-footer__socials-item
                        a(href="https://instagram.com/DOCTOR_KOMAROVSKIY/").b-footer__socials-link.b-footer__in
                    li.b-footer__socials-item
                        a(href="https://t.me/dr_komarovskiy").b-footer__socials-link.b-footer__t

            .b-footer__text-right
                p.b-footer__descr Использование любых материалов сайта допустимо только при соблюдении <a href="http://www.komarovskiy.net/pages,agreement" class="b-footer__privacy"> соглашения об использовании сайта</a> и с письменного разрешения <a href="mailto:klinikom@komarovskiy.net" class="b-footer__privacy"">Администрации</a>
                p.b-footer__descr Юридическу защиту обеспечивает Адвокатское бюро "Бурлаков и партнеры"


