section#brand.b-main
    .container.b-main__container
        .b-main__product-wrap
            ul.b-main__product-list
                li.b-main__product-item
                    img(src="img/icon-1.png" alt="Icon blob").b-main__product-icon.b-main__icon
                    span.b-main__product-features Легкая <br> текстура
                li.b-main__product-item
                    img(src="img/icon-2.png" alt="Icon clock").b-main__product-icon.b-main__icon
                    span.b-main__product-features 1 раз <br> в день
                li.b-main__product-item
                    img(src="img/icon-3.png" alt="Icon bottle").b-main__product-icon.b-main__icon
                    span.b-main__product-features Для детей <br> с 4 месяцев

            .b-main__product-photo-wrap
                img(src="img/salve.png" alt="Salve photo").b-main__product-photo
                span.b-main__product-title Адвантан® П  N013563/01, П N013563/02

        .b-main__text-wrap
            .b-main__link-wrap
                img(src="img/play.png" alt="Play video icon").b-main__link-icon.b-main__icon
                a.b-main__link.show-video-popup(href="#" data-src="https://youtube.com/embed/yWQ-0ptRBG4") Смотреть видео <br> с Е. О. Комаровским

            .b-main__fact
                h2.b-main__fact-title Атопический дерматит: лечится или нет?
                p.b-main__fact-descr Атопический дерматит - очень распространенное заболевание среди детей. Чтобы помочь справиться с неприятными симптомами, нужно знать о нем больше. О том, как это сделать, какие симптомы должны насторожить, - в нашем проекте.

        .b-main__play-button
            img(src="img/play.png" alt="Play video icon").b-main__link-icon.b-main__play-button-icon
            a.b-main__link.b-main__play-button-link.show-video-popup(href="#" data-src="https://youtube.com/embed/yWQ-0ptRBG4") Смотреть видео <br> с Е. О. Комаровским