.video-popup
    .overlay
    .video-popup__substrate
        .video-popup__video-wrap
            button(type="button").video-popup__close.popup-close Закрыть
            iframe.video-popup__video(frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

