section#posts.b-posts
    .container
        .b-posts__title Статьи

        .b-posts__wrap
            .b-posts__post-wrap
                figure.b-posts__article-preview
                    a(href="#").b-posts__link
                        img(src="img/photo-1.jpg" alt="Post preview photo").b-posts__article-img
                    a(href="#").b-posts__poster-link
                        figcaption.b-posts__article-title Зуд и дерматиты у детей
                    .b-posts__btn-wrap
                        button(type="button").b-button.b-posts__button
                            span.b-button__content Читать статью

            .b-posts__post-wrap
                figure.b-posts__article-preview
                    a(href="#").b-posts__link
                        img(src="img/photo-2.jpg" alt="Post preview photo").b-posts__article-img
                    a(href="#").b-posts__poster-link
                        figcaption.b-posts__article-title Как правильно выбирать средство для лечения атопического дерматита
                    .b-posts__btn-wrap
                        button(type="button").b-button.b-posts__button
                            span.b-button__content Читать статью