section#test.b-test
    .container
        .b-test__content
            img(src="img/icon-4.png" alt="Check icon").b-test__icon.b-main__icon
            h2.b-test__title Где тут правда, а где - ложь?
            p.b-test__descr Найдите верное утверждение про атопический дерматит

            button(type="button").b-button__bigger.b-test__button
                span.b-button__bigger-content.b-test__button-content Пройти тест