section#video.b-videos
    .container
        h2.b-videos__title Видео с Е. О. Комаровским

        .b-videos__wrapper
            .b-videos__video-wrap
               .b-videos__poster.b-videos__poster--big(data-src="https://youtube.com/embed/6V0SrIslOsE")
                   .b-videos__poster-img-wrap
                        img(src="img/mainvideoPrview5.jpg" alt="Video poster").b-videos__poster-img
                   h5.b-videos__descr.b-videos__descr--big Мазь, эмульсия и крем: в чем разница и кому что подходит?
               button(type="button").b-videos__button.b-button
                    span.b-videos__button-content.b-button__content Смотреть видео

            .b-videos__group
                .b-videos__poster-wrap
                    .b-videos__poster.b-videos__poster--min(data-src="https://youtube.com/embed/Ilp-J1HdJnA")
                        .b-videos__poster-img-wrap
                            img(src="img/mainvideoPrview4.jpg" alt="Video poster").b-videos__poster-img
                        h5.b-videos__descr.b-videos__descr--min Безопасны ли наружные гормональные препараты?
                .b-videos__poster-wrap
                    .b-videos__poster.b-videos__poster--min(data-src="https://youtube.com/embed/6V0SrIslOsE")
                        .b-videos__poster-img-wrap
                            img(src="img/mainvideoPrview3.jpg" alt="Video poster").b-videos__poster-img
                        span.b-videos__descr.b-videos__descr--min Наружные гормональные препараты: что это такое и зачем они нужны?
                .b-videos__poster-wrap
                    .b-videos__poster.b-videos__poster--min(data-src="https://youtube.com/embed/yWQ-0ptRBG4")
                        .b-videos__poster-img-wrap
                            img(src="img/mainvideoPrview2.jpg" alt="Video poster").b-videos__poster-img
                        span.b-videos__descr.b-videos__descr--min Атопический и аллергический дерматиты: чем лечить?
                .b-videos__poster-wrap
                    .b-videos__poster.b-videos__poster--min(data-src="https://youtube.com/embed/6V0SrIslOsE")
                        .b-videos__poster-img-wrap
                            img(src="img/mainvideoPrview1.jpg" alt="Video poster").b-videos__poster-img
                        span.b-videos__descr.b-videos__descr--min Почему не надо бояться гормональных препаратов





