section.b-warning
    .container
        .b-warning__wrap
            img(src="img/w-bg.jpg" alt="Warning").b-warning__image
        p.b-warning__descr Все претензии по содержанию данного промоционного материала, а также сообщения о нежелательныхявлениях направляются в ООО “ЛЕО Фармасьютикал Продактс” по адресу 125315 Россия, Москва, Ленинградский проспект 72, корпус 2 или по телефону +7 (495) 789 1160. <a href="http://komarovskiy.net/pages,agreement" class="privacy-policy">Политика конфиденциальности </a> МАТ-30065-11-19