body
    include ../blocks/_header
    main.article-2
        include ../blocks/_article-title
        include ../blocks/_article-fact
        include ../blocks/_article-note
        include ../blocks/_article-treatment
        include ../blocks/_article-indications
        include ../blocks/_article-literature
        include ../blocks/_article-also
        include ../blocks/_warning
    include ../blocks/_footer

script(src='js/scripts.min.js')
#fb-root
script(async defer crossorigin='anonymous' src='https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0')