body
    include ../blocks/_popup-video
    include ../blocks/_popup-slider
    include ../blocks/_header
    main
        include ../blocks/_main
        include ../blocks/_videos
        include ../blocks/_test
        include ../blocks/_posts
        include ../blocks/_warning
    include ../blocks/_footer

script(src='js/scripts.min.js')
#fb-root
script(async defer crossorigin='anonymous' src='https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0')