.article-type-3 {
  .article-treatment__descr {
    margin-bottom: vie(14, xl);
  }

  .article-treatment__item {
    margin-bottom: vie(8, xl);
  }

  .article-treatment__list {
    padding-top: 0;
  }
}

.article-type-box {
  margin-top: vie(45, xl);
  padding: vie(24, xl) vie(171, xl);
  border: vie(4, xl) solid #1d5ea5;
  text-align: center;

  p {
    color: #1b62a7;
    font-size: vie(20, xl);
    font-family: $gsb;
  }
}

.article-type-3 {
  @include media(sm) {
    margin-bottom: vie(30, sm);
  }

  @include media(xs) {
    margin-bottom: vie(30, xs);
  }
  .article-treatment__row {
    @include media(sm) {
      display: flex;
      flex-direction: column;
    }

    @include media(xs) {
      display: flex;
      flex-direction: column;
    }
  }

  .article-treatment__column {
    @include media(sm) {
      width: 100%;
    }
    @include media(xs) {
      width: 100%;
    }
  }

  .article-treatment__descr {
    @include media(sm) {
      font-size: vie(14, sm);
    }
    @include media(xs) {
      font-size: vie(14, xs);
    }
  }

  .article-treatment__column-left {
    @include media(sm) {
      margin-bottom: vie(18, sm);
    }
    @include media(xs) {
      margin-bottom: vie(18, xs);
    }
  }

  .article-treatment__item-text {
    @include media(sm) {
      font-size: vie(16, sm);
    }
    @include media(xs) {
      font-size: vie(16, xs);
    }
  }

  .article-type-box {
    @include media(sm) {
      padding: vie(25, sm) vie(10, sm);
      border: vie(4, sm) solid #1d5ea5;
      margin-top: vie(30, sm);
    }
    @include media(xs) {
      padding: vie(25, xs) vie(10, xs);
      border: vie(4, xs) solid #1d5ea5;
      margin-top: vie(30, xs)
    }
  }

  .article-type-box p{
    @include media(sm) {
      font-size: vie(16, sm);
      ;
    }
    @include media(xs) {
      font-size: vie(16, xs);

    }
  }

}
