.b-test {
  padding-top: vie(70, xl);
  padding-bottom: vie(130, xl);
  background-image: url("../img/bg-2.jpg");
  background-repeat: no-repeat;
  background-position: 35vw bottom;
  background-size: contain;
  @include media(sm) {
    padding-top: vie(28, sm);
    padding-bottom: vie(28, sm);
    background-position: 20vw 10vw;
  }

  @include media(xs) {
    padding-top: vie(28, xs);
    padding-bottom: vie(28, xs);
    background-position: 0vw 41vw;
    background-size: 431px 304px;
  }

  &__content {
    margin-left: vie(80, xl);
  }

  &__icon {
    margin-bottom: vie(36, xl);

    @include media(sm) {
      width: vie(50, sm);
    }
    @include media(xs) {
      width: vie(50, xs);
    }
  }

  &__title {
    font-family: $gsb;
    font-size: vie(34, xl);
    color: #0b4c98;
    font-weight: 400;
    max-width: vie(250, xl);
    margin-bottom: vie(25, xl);

    @include media(sm) {
      font-size: vie(30, sm);
      max-width: vie(230, sm);
      margin-bottom: vie(17, sm);
    }

    @include media(xs) {
      font-size: vie(30, xs);
      max-width: vie(230, xs);
      margin-bottom: vie(17, xs);
    }
  }

  &__descr {
    font-size: vie(24, xl);
    color: #000;
    font-weight: 400;
    margin-bottom: vie(80, xl);
    max-width: vie(340, xl);

    @include media(sm) {
      font-size: vie(16, sm);
      max-width: vie(140, sm);
    }

    @include media(xs) {
      font-size: vie(16, xs);
      max-width: vie(140, xs);
    }
  }

  &__button {
    @include media(sm) {
      margin-top: vie(170, sm);
      width: 100%;
      box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.17);
    }
    @include media(xs) {
      margin-top: vie(170, xs);
      width: 100%;
      box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.17);
    }
  }

  &__button-content {
    @include media(sm) {
      font-size: vie(20, sm);
      font-weight: 400;
    }
    @include media(xs) {
      font-size: vie(20, xs);
      font-weight: 400;
    }
  }
}